.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px;
    background: $blanco;

    .footer-redes{
        svg{
            width: 30px;
            margin: 10px;
        }

        svg:hover{
            color: $verdeOscuro;
        }
    }

    .footer-parrafo{
        padding-top: 30px;
        font-size: 18px;
    }
}